*{
    margin: 0%;
    padding: 0%;
}
title{
    text-align: center;
}
.grupo{
    text-align: right;
}
.header{
    text-align: right;
    background: sienna;
}
.menu li{
    background: lightseagreen;
    border: black;
}
h1 {
    font-size: 30px;
    font-family:sans-serif
}
.img  {
    width: 100px;
    margin: 15px auto;
}